<div class="container">
  <h1>Edit Company</h1>

  <%= render "form", company: @company %>

  <%= link_to "Companies", companies_path, class: "btn btn-link" %> |
  <%= link_to "New Company", new_company_path, class: "btn btn-link" %> |
  <%= link_to "Show Company", company_path(@company), class: "btn btn-link" %>
</div>
